* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
}

.root {
    display: flex;
    width: 100%;
    height: 100vh;
}

.banners {
    width: calc(100% - 500px);
    padding: 24px;
    position: relative;
    min-height: 500px;
    background-image: url('./img/login-bg-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banners:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 1;
    position: absolute;
}

.content {
    width: 700px;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    min-height: 100vh;
    position:relative;
    justify-content: center;
    align-content: center;
}

.container{
    display: flex;  
    flex: 1;
    margin: 0 auto;
    position: relative;
    text-shadow:0 1px 0 #fff;
    max-width: 350px;
    align-self: center;
    justify-content: center;
}

.hiddenanchor {
    display: none;
}

.login-form{
    z-index:22;
    position: absolute;
}

.registration-form, .request-pass{
    position: absolute;
    z-index:21;
    opacity: 0;
}

#signup:target ~ .content .registration-form,
#request-pass:target ~ .content .request-pass,
#signin:target ~ .content .login-form {
    z-index:22;
    -webkit-animation-name:fadeInLeft;
    animation-name:fadeInLeft;
    -webkit-animation-delay:.1s;
    animation-delay:.1s
}

#signup:target ~ .content .login-form,
#request-pass:target ~ .content .login-form,
#signin:target ~ .content .registration-form,
#signin:target ~ .content .request-pass{
    -webkit-animation-name:fadeOutLeft;
    animation-name:fadeOutLeft
}

.animate{
    -webkit-animation-duration:0.5s;
    -webkit-animation-timing-function:ease;
    -webkit-animation-fill-mode:both;
    -moz-animation-duration:0.5s;
    -moz-animation-timing-function:ease;
    -moz-animation-fill-mode:both;
    -o-animation-duration:0.5s;
    -o-animation-timing-function:ease;
    -o-animation-fill-mode:both;
    -ms-animation-duration:0.5s;
    -ms-animation-timing-function:ease;
    -ms-animation-fill-mode:both;
    animation-duration:0.5s;
    animation-timing-function:ease;
    animation-fill-mode:both
}

@media (max-width: 650px) {
    
    .banners {
        display: none;
    }

    .content {
        width: 100%;
    }
    
}